@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Your Jokes App</h1>
    <p>THE place to host your favourite but not necessarily funny jokes.</a>.</p>
</div>
